services:
  db:
    image: mariadb:11
    restart: always
    environment:
      MYSQL_USER: ${WORDPRESS_DB_USER}
      MYSQL_DATABASE: ${WORDPRESS_DB_NAME}
      MYSQL_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
    volumes:
      - db_data:/var/lib/mysql
      - ./db-dump:/docker-entrypoint-initdb.d   # import on first run
      - ./conf/mariadb:/etc/mysql/conf.d:ro

  wordpress:
    image: wordpress:fpm-alpine
    restart: always
    depends_on:
      - db
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_HOME',   'https://${DOMAIN}/');
        define('WP_SITEURL','https://${DOMAIN}/');
    volumes:
      - wordpress_files:/var/www/html
      - ./wp-content:/var/www/html/wp-content
      - ./conf/php/tweaks.ini:/usr/local/etc/php/conf.d/tweaks.ini:ro
      - ./conf/php/fpm.conf:/usr/local/etc/php-fpm.d/zzz-tuning.conf:ro

  httpd:
    build: .
    ports:
      - "80:80"
      - "443:443"
    restart: always
    depends_on:
      - wordpress
    environment:
      DOMAIN: ${DOMAIN}
    networks:
      default:
        aliases:
          - ${DOMAIN}
    volumes:
      - wordpress_files:/var/www/html:ro
      - ./wp-content:/var/www/html/wp-content:ro
      - ./certs:/var/lib/apache-md

volumes:
  db_data:
  wordpress_files:
